@font-face {
	font-family: "Roboto Medium";
	src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
	font-family: "Roboto Regular";
	src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
	font-family: "Trebuchet Regular";
	src: url("../fonts/Trebuchet-MS.ttf");
}

body.maintenance-page {
  background-color: #fff;
  color: #000;
}

p {
    font-family: Trebuchet Regular;
    font-size: 15px;
    color: #666666;
}

h2, h3 {
    font-family: Roboto Regular;
    font-size: 14px;
    margin: 0;
}

h2 { color: #0A3A62; }

h3 { color: #666666; }

.maintenance-page .contenedor {
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  min-width: 0;
  min-height: 0;
  width: 960px;
}

/* -- Acordeones de los formularios -- */
/* ----------------------------------- */

fieldset.form-wrapper legend,
fieldset.collapsible legend {
    background: #0083B3;
}

fieldset.form-wrapper span.fieldset-legend {
    padding-left: 15px;
}

fieldset.form-wrapper .fieldset-legend,
fieldset.collapsible .fieldset-legend a {
    color: #FFFFFF;
    font-family: Roboto Regular;
    font-size: 16px;
    text-decoration: none;
}

fieldset.collapsible .fieldset-legend {
    background-image: url("../imagenes/arrow_up.png") !important;
    background-position: right 15px top 5px !important;
    background-repeat: no-repeat !important;
}

fieldset.collapsed .fieldset-legend {
    background-image: url("../imagenes/arrow_down.png") !important;
    background-position: right 15px top 5px !important;
    background-repeat: no-repeat !important;
}

.pure-form fieldset {
    border: 1px solid #0083b3;
    margin-bottom: 16px;
}

.fieldset-wrapper {
    margin: 0 20px;
}

/* -- Botones de los formularios -- */
/* -------------------------------- */

.pure-button {
    font-family: Roboto Medium;
    font-size: 16px;
}

.pure-button-primary {
    text-transform: uppercase;
}

/* -- Campos de los formularios -- */
/* -------------------------------- */

.form-item label,
.form-item div {
    color: #666666;
    font-family: Trebuchet Regular;
    font-size: 14px;
}

.form-item label {
    font-weight: bold;
}

/* -- Slides -- */
/* ------------ */

#slide div {
    height: 591px;
    width: 960px;
}

#slide .slide1 {
    background-image: url('../imagenes/paso01.png');
    background-repeat: no-repeat;
}

#slide .slide2 {
    background-image: url('../imagenes/paso02.png');
    background-repeat: no-repeat;
}

#slide .slide3 {
    background-image: url('../imagenes/paso03.png');
    background-repeat: no-repeat;
}

#slide .slide4 {
    background-image: url('../imagenes/paso04.png');
    background-repeat: no-repeat;
}

/* -- Estilos específicos -- */
/* ------------------------- */
#encabezado {
    background-image: url('../imagenes/fondo.png');
    background-repeat: none;
    height: 220px;
    margin-bottom: 10px;
    padding: 15px 145px 0;
}

#encabezado .logo {
    background-image: url('../imagenes/logo-govi.png');
    height: 67px;
    width: 120px;
}

#encabezado .info-pagina {
    text-align: right;
}

#encabezado .info-pagina {
    color: #0A3A62;
    font-family: inherit;
    font-size: 26px;
    font-weight: bold;
}

#contenido {
    background-color: #FFFFFF;
    padding: 30px;
    margin: 0 auto;
    width: 720px;
    
}

#install-welcome p {
    margin: 0 auto;
    text-align: center;
    width: 640px;
}

#install-welcome .form-actions {
    text-align: center;
    margin-top: 50px;
}

/* -- Botones de accion -- */
/* ----------------------- */

.btn {
    content: '';
    display: block;
    height: 70px;
    width: 70px;
    margin: 0 auto;
}

.accion-titulo {
    text-align: center;
    font-family: Trebuchet Regular;
    margin-top: 10px;
    font-size: 13px;
    font-weight: bold;
    color: #05638e;
}

.accion1 {
    background-image: url('../imagenes/accion1.png');
    background-repeat: no-repeat;
}

.accion2 {
    background-image: url('../imagenes/accion2.png');
    background-repeat: no-repeat;
}

.accion3 {
    background-image: url('../imagenes/accion3.png');
    background-repeat: no-repeat;
}

.accion4 {
    background-image: url('../imagenes/accion4.png');
    background-repeat: no-repeat;
}

.accion5 {
    background-image: url('../imagenes/accion5.png');
    background-repeat: no-repeat;
}

/* -- Mensajes del sistema  -- */
/* --------------------------- */

.messages {
    margin: 0 0 25px !important;
}