﻿body{
    margin-bottom: 0 !important;
}
body, .contenedor{
    background-color: rgba(255, 255, 255, 0) !important;
    letter-spacacing: 0;
}
.not-front .contenedor *{
    letter-spacing: 0;
}
.contenedor-2{
	width: 1280px;
}
#posicion{
	padding-left: 0;
	padding-right: 0;
    bottom: inherit;
    padding: 0;
}
.front .encabezado-c-1{
	background-color: rgba(0,159,227,0.8);
}
.front .encabezado-a, .front .encabezado-b{
	background-color: rgba(0,159,227,0);
}
.encabezado-c {
    bottom: initial;
    margin: 0;
}
.encabezado-a, .encabezado-b{
	padding: 10px 0;
}
#block-search-form {
    padding-top: 1em;
}
#menu-principal li a{
	margin:0 !important;
}
.intro {
    height: 600px;
}
.intro video{
    width: 100%;
    height: 100%;
    object-fit: inherit;
    z-index: 2;
}
#encabezado .form-item-search-block-form .form-text{
	min-width: inherit;
}
#encabezado .form-item-search-block-form{
	margin: 0 !important;
}
.front header#encabezado {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    border-top: 3px solid rgba(0,159,227,1);
    background: rgba(255,255,255,0.8);
}
#block-views-main-slideshow-block .views-slideshow-cycle-main-frame img{
    max-height: 600px;
    width: 100%;
    height: auto;
    padding-top: 3em;
}
#block-views-main-slideshow-block .views-slideshow-cycle-main-frame-row {
    width: 100% !important;
    max-height: 600px !important;
    overflow: hidden;
}
.views-content-counter a {
    display: none;
}
span.submitted {
    display: none;
}
.page-node-845 .posicion-e-2 {
    width: 100%;
}
#block-barra-institucional-barra-institucional-block{
    display: none;
}
#block-barra-institucional-barra-institucional-block.in{
    display: block;
}
.easy_social-widget {
    max-width: 35px;
}
.easy_social-widget img {
    width: 100%;
}
#encabezado .nombre-sitio a {
    color: #000;
    font-family: robotoregular;
    text-decoration: none;
}
.encabezado-a {
    padding-top: 5px;
}
div#views_slideshow_cycle_main_noticias-block_1 {
    margin: 0 auto;
    width: 100%;
}
#block-views-noticias-block-1 h2, #block-views-ejes-block h2 {
    margin:1em auto;
    border: none;
    font-size: 2em;
    color: #000;
    width: 100%;
    display:block;
}
.view-noticias .slide-izq {
    display: block;
    width: 47%;
    float: left;
    margin-right: 3%;
}
.view-noticias .slide-der {
    display: block;
    float: left;
    width: 50%;
}
.view-noticias .slide-izq img {
    width: 100%;
    height: auto;
}
.view-noticias .slide-der .title a{
	color: #000;
	font-size: 2em;
	text-decoration: none;
	display: block;
    text-align: justify;
    letter-spacing: 0px;
    line-height: 1em;
    padding-bottom: 0.5em;
}
.view-noticias .slide-der .date{
	color: #000;
	font-size: 1.1em;
}
.view-noticias .date.icon-calendar:before{
	padding-right: 0.8em;
}
.view-noticias .slide-der .notice-body{
	color: #000;
}
.view-noticias .slide-der .see-more {
    margin: 0 auto;
    display: block;
    text-align: center;
}
.view-noticias .slide-der .see-more a{
	padding: 0.5em 1em;
    background-color: #fff;
    text-decoration: none;
    border: 1px solid #000;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 1em;
    display: inline-block;
    width: auto;
    text-align: center;
    transition: 0.5s all;
    color: #000;
    text-transform: uppercase;
    font-size: 0.9em;
}
.view-noticias .slide-der .see-more a:hover{
	color: #fff;
	background-color: rgba(0,159,227,1);
	border-color: rgba(0,159,227,1);
	transition: 0.5s all;
}
.view-noticias.view-display-id-block_1{
    position: relative;
    width: 100%;
    margin: 0 auto;
    z-index: 0;
}

.view-noticias #views_slideshow_cycle_teaser_section_noticias-block_1 {
    width: 100% !important;
}

.view-noticias .views-slideshow-cycle-main-frame-row{
    width: 100% !important;
}

.view-noticias div#views_slideshow_controls_text_noticias-block_1 span {
    bottom: 40%;
    z-index: 99;

}
.view-noticias div#views_slideshow_controls_text_noticias-block_1 span a{
    width: 50px;
    height: 78px;
    background-size: cover;
    color: transparent;
    display: block;
}
.view-noticias span#views_slideshow_controls_text_pause_noticias-block_1 {
    display: none;
}

.view-noticias span#views_slideshow_controls_text_previous_noticias-block_1 {
    position: absolute;
    left: -10%;
}
.view-noticias span#views_slideshow_controls_text_previous_noticias-block_1 a{
    background: url(../imagenes/arrow-left.png);
}
.view-noticias span#views_slideshow_controls_text_next_noticias-block_1 {
    position: absolute;
    right: -10%;
}
.view-noticias span#views_slideshow_controls_text_next_noticias-block_1 a{
    background: url(../imagenes/arrow-right.png);
}
.view-noticias .view-footer {
    text-align: center;
    padding-top: 3em;
    letter-spacing: 1px;
    font-size: 1.1em;
}
.view-noticias .view-footer .see-more {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-family: robotoregular;
    text-transform: uppercase;
    font-size: 0.8em;
}
.view-noticias .view-footer:hover .see-more {
	color:rgba(0,159,227,1);
}
.view-pagina-noticias ul li {
    margin-bottom: 2.5em;
}
.view-pagina-noticias .views-field-title a{
	font-size: 1.2em;
    line-height: 0;
}
.view-pagina-noticias .view-header .noticias {
    border-bottom: 1px solid;
    color: rgba(0,62,101,1) !important;
    font-family: 'robotoregular' !important;
    font-size: 1.5em !important;
    text-align: center;
    line-height: 1.05em !important;
    padding-bottom: 0.2em;
}
.posicion-b-1 {
    width: 100%;
}
.posicion-b-1 .region {
    padding: 0 !important;
}
.node-article img{
    max-width: 100%;
    height: auto;
}
div#block-views-ejes-block{
	clear: both;
	overflow: hidden;
}
#block-block-1 {
    width: 100%;
    height: 300px;
    background: url(../imagenes/fondos/sumapaz.jpg);
    background-attachment: fixed;
    background-size: cover;
    margin-top: 3em;
}
#block-block-2 {
    width: 100%;
    height: 300px;
    background: url(../imagenes/fondos/catedral1.jpg);
    background-attachment: fixed;
    background-size: cover;
    margin-top: 3em;
}
.view-ejes{
	/*background: url(../imagenes/fondos/bogota1.jpg);
    background-attachment: fixed;
    background-size: 100%;*/
    max-width: 1280px;
    margin: 0 auto;
}
.view-ejes .jcarousel-skin-default .jcarousel-container-horizontal {
    width: 100%;
    padding: 0;
    height: auto;
    margin: 0;
}
.view-ejes .jcarousel-skin-default .jcarousel-clip-horizontal {
    width: 100%;
    overflow: hidden;
}
.view-ejes .jcarousel-skin-default .jcarousel-item-horizontal {
    margin: 0;
    height: auto;
    border: none;
}
.view-ejes .views-row {
    width: 100%;
}
.view-ejes .views-row .views-column {
    width: 25%;
    display: block;
    position: relative;
    float: left;
}
.view-ejes .jcarousel-skin-default .jcarousel-item-horizontal img {
    width: 100%;
    height: auto;
}
.eje-habitat {
    width: 100%;
    position: absolute;
    bottom: 0;
    letter-spacing: 1px;
    bottom: 0.5em;
    padding: 0;
    transition: 0.8s all ease;
}
.eje-habitat .description{
    display: none;
    color: #fff;
    letter-spacing:0px;
}
.eje-habitat .description a{
    text-decoration: none;
    color: #fff;
    letter-spacing: 0px;
    margin: 0 auto;
    width: 90% !important;
    display: block;
}
.view-ejes span.title {
    max-width: 100%;
    left: 0;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    transition: 0.8s all ease;
    font-size: 110%;
    font-family: robotoregular;
    display: block;
    padding: 0 1em;
    transition: 0.8s all ease;
    background: rgba(0,0,0,0.5) !important;
}
.view-ejes a{
    text-decoration: none;
}
.view-ejes .jcarousel-item-horizontal:hover .eje-habitat{
    background: rgba(0,0,0,0.5) !important;
    padding: 40% 0;
    transition: 0.8s all ease;
    top: 0;
    bottom: 0.3em;
}
.view-ejes .jcarousel-item-horizontal:hover span.title{
	background: none;
	color: #fff; 
    transition: 0.8s all ease;
    position: relative;
    display: none;
}
.view-ejes .jcarousel-item-horizontal:hover .description{
    display: block;
    color: #fff;
    transition: 0.8s all ease;
    position: relative;
    padding: 0;
    margin: 0;
}
.view-ejes .views-field.views-field-nothing {
    position: relative;
}
.view-ejes .jcarousel-skin-default .jcarousel-prev-horizontal {
    position: absolute;
    top: 40%;
    left: 5px;
    background: url(../imagenes/arrow-left.png);
    opacity: 0;
    width: 50px;
    height: 78px;
    background-size: cover;
    color: transparent;
    display: block;
    transition: 0.8s all ease;
}
.view-ejes .jcarousel-skin-default .jcarousel-next-horizontal {
    position: absolute;
    top: 40%;
    right: 5px;
    background: url(../imagenes/arrow-right.png);
    opacity: 0;
    width: 50px;
    height: 78px;
    background-size: cover;
    color: transparent;
    display: block;
    transition: 0.8s all ease;

}
.view-ejes .view-content:hover .jcarousel-skin-default .jcarousel-prev-horizontal, 
.view-ejes .view-content:hover .jcarousel-skin-default .jcarousel-next-horizontal{
    opacity: 1;
    transition: 0.8s all ease;
}

.view-ejes .view-footer {
    padding-top: 6em;
}

.view-ejes .view-content {
    overflow: hidden;
}
#block-views-ejes-block h2{
	text-align: center;
    margin-top: 0;
    margin-bottom: 1.5em;
    border-top: 1px solid rgba(0,62,101,0.5);
    padding-top: 2em;
    letter-spacing: 1px;
    text-shadow: 1px 1px rgba(0,0,0,0.5);
}

.view-tramites-home .title {
	text-align: center;
    margin-top: 2em;
    margin-bottom: 1.5em;
    letter-spacing: 1px;
}
.scrollToTop {
    right: 5%;
    bottom: 5%;
    z-index: 9999999;
}
.view-tramites-home .views-row {
}
.view-tramites-home .views-column {
    width: 24.7%;
    height: 256px;
    display: block;
    float: left;
    vertical-align: middle;
    position: relative;
    border: 1px solid #fff;
    transition: 1s all;
    background: rgba(0,62,101,0.2);
}
.view-tramites-home .views-column-4{
    border-right: none;
}
.view-tramites-home .views-column:hover {
    background: rgba(0,62,101,0.8);
    transition: 1s all;
}
.view-tramites-home .views-column:hover .views-field-title{
    opacity: 1;
    transition: 1s all;
}
.view-tramites-home .views-field-title {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    text-align: center;
    width: 80%;
    padding: 0 1.6em;
    opacity: 1;
}
.view-tramites-home .views-field-title a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0;
}

.view-tramites-home .view-content {
    background: url(../imagenes/tramites-y-servicios.jpg);
    overflow: hidden;
    background-size: cover;
    background-position: center;
    text-align: center;
    min-height: 512px;
}
.view-tramites-home .view-content h3 {
    display: none;
}
.view-tramites-home .views-responsive-grid:nth-of-type(2){
    display: none
}
.view-tramites-home{
    text-align: center;
    padding: 2em;
    max-width: 1032px;
    margin: 0 auto;
}
.view-tramites-home .title {
    text-transform: uppercase;
    font-size: -webkit-xx-large;
    font-size: xx-large;
}
.view-tramites-home div#edit-field-clasificacion-tram-serv-tid-wrapper {
    width: 100%;
}

.view-tramites-home .views-exposed-form .form-item {
    display: inline-block;
    padding: 0 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.view-tramites-home .views-exposed-form .form-item a {
    text-decoration: none;
    font-weight: bold;
    font-family: robotobold;
}
.view-tramites-home .views-exposed-form .form-item a:hover, .view-tramites-home .views-exposed-form .form-item a.active {
    color:rgba(0,159,227,1)
}
.view-tramites-home .views-exposed-form .views-widget .form-item .form-type-bef-link:first-of-type{
    border-right: 2px solid rgba(0,62,101,0.8);
}

.view-videos-home .slide-izq, .front .view-fotografias .slide-izq{
    display: block;
    width: 47%;
    float: left;
    margin-right: 3%;
}
.view-videos-home .slide-der, .front .view-fotografias .slide-der{
    display: block;
    float: left;
    width: 50%;
}
.view-videos-home .slide-izq img, .front .view-fotografias .slide-izq img{
    width: 100%;
    height: auto;
}
.view-videos-home .slide-der .title a, .front .view-fotografias .slide-der .title a{
	color: #000;
	font-size: 2em;
	text-decoration: none;
	display: block;
    text-align: justify;
    letter-spacing: 0px;
    line-height: 1em;
    padding-bottom: 0.5em;
}
.view-videos-home .slide-der .date, .front .view-fotografias .slide-der .date{
	color: #000;
	font-size: 1em;
	letter-spacing: 0px;
}
.view-videos-home .date.icon-calendar:before, .front .view-fotografias .date.icon-calendar:before{
	padding-right: 0.8em;
}
.view-videos-home .slide-der .notice-body, .front .view-fotografias .slide-der .notice-body{
	color: #000;
	letter-spacing: 0.5px;
	margin-top: 1em;
}
.view-videos-home .slide-der .see-more, .front .view-fotografias .slide-der .see-more{
    margin: 0 auto;
    display: block;
    text-align: center;
}
.view-videos-home .slide-der .see-more a, .front .view-fotografias .slide-der .see-more a{
	padding: 0.5em 1em;
    background-color: #fff;
    text-decoration: none;
    border: 1px solid #000;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 1em;
    display: inline-block;
    width: auto;
    text-align: center;
    transition: 0.5s all;
    color: #000;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 0.5px;
}
.view-videos-home .slide-der .see-more a:hover, .front .view-fotografias .slide-der .see-more a:hover{
	color: #fff;
	background-color: rgba(0,159,227,1);
	border-color: rgba(0,159,227,1);
	transition: 0.5s all;
}
.view-videos-home.view-display-id-block_1, .front .view-fotografias{
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.view-videos-home #views_slideshow_cycle_teaser_section_noticias-block_1 {
    width: 100% !important;
}
.view-videos-home .views-slideshow-cycle-main-frame-row{
    width: 100% !important;
}
.view-videos-home .views-slideshow-cycle-main-frame-row, .front .view-fotografias .views-slideshow-cycle-main-frame-row{
    width: 100% !important;
}
.front .view-fotografias .views-field.views-field-nothing-1,
.front .view-videos-home .views-field.views-field-nothing-1 {
    clear: both;
    overflow: hidden;
    display: block;
}
.front .view-fotografias .view-content,
.front .view-videos-home .view-content {
    min-height: 300px;
}
.view-videos-home div#views_slideshow_controls_text_noticias-block_1 span, .front .view-fotografias div#views_slideshow_controls_text_noticias-block_1 span{
    bottom: 40%;
    z-index: 99;
}
.view-videos-home div#views_slideshow_controls_text_noticias-block_1 span a{
    width: 50px;
    height: 78px;
    background-size: cover;
    color: transparent;
    display: block;
}
.view-videos-home span#views_slideshow_controls_text_pause_noticias-block_1 {
    display: none;
}

.view-videos-home span#views_slideshow_controls_text_previous_noticias-block_1 {
    position: absolute;
    left: -10%;
}
.view-videos-home span#views_slideshow_controls_text_previous_noticias-block_1 a{
    background: url(../imagenes/arrow-left.png);
}
.view-videos-home span#views_slideshow_controls_text_next_noticias-block_1 {
    position: absolute;
    right: -10%;
}
.view-videos-home span#views_slideshow_controls_text_next_noticias-block_1 a{
    background: url(../imagenes/arrow-right.png);
}
.view-videos-home .view-footer, .front .view-fotografias .view-footer {
    text-align: center;
    padding: 2em;
    letter-spacing: 1px;
    font-size: 1.1em;
    display: block;
    overflow: hidden;
    clear: both;
}
.view-videos-home .view-footer .see-more, .front .view-fotografias .view-footer .see-more{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-family: robotoregular;
    text-transform: uppercase;
    font-size: 0.8em;
}
.view-videos-home .view-footer:hover .see-more, .front .view-fotografias .view-footer:hover .see-more{
	color:rgba(0,159,227,1);
}
div#block-views-videos-home-block-1, #block-views-fotografias-block-1, #block-views-calendar-block-1{
    max-width: 1024px;
    margin: 0 auto;
}
div#block-block-4{
    max-width: 1024px;
    margin: 0 auto;
}
#block-views-calendar-block-1{
	letter-spacing: 0px;
}
#block-views-calendar-block-1 .item-list .pager li{
	padding: 0 !important;
	top: 5%;
}
#block-views-calendar-block-1 .view-id-calendar h3 a {
    color: #000;
    font-size: 1.5em;
    text-decoration: none;
    display: block;
    text-align: center;
    letter-spacing: 10px;
    line-height: 1em;
}
#block-views-calendar-block-1 .view-id-calendar #posicion table tbody tr td{
	text-align: center;
    padding: 15px 10px;
}
#block-views-calendar-block-1 .calendar-calendar th.days {
    color: #fff;
    font-weight: bold;
    border: 1px solid #ccc;
    background-color: #224 !important;
}
#block-views-calendar-block-1 .date-nav-wrapper a {
    margin: 10px;
    font-weight: bold;
    font-size: 1.5em;
}
#block-views-calendar-block-1 .date-nav-wrapper .date-nav {
    padding: 0 0 5px 0;
}

div#block-block-3, div#block-block-5, #block-block-6{
    max-width: 1024px;
    margin: 0 auto;
}
div#block-block-5{
    border: 1px solid rgba(0,62,101,0.5);
    margin-bottom: 3em;
    padding: 0 2em;
    border-radius: 1em;
    box-shadow: 1px 1px 1px rgba(0,62,101,0.4);
}
.twitter-block iframe {
    width: 95% !important;
}
.instagram-block .powered_by {
    display: none !important;
}
.instagram-block div {
    padding-top: 110% !important;
    overflow: hidden !important;
}
.instagram-block iframe {
    height: 110% !important;
}


div#block-block-5 h2 {
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 1em auto;
    border: none;
    font-size: 2em;
    color: #000;
    width: 100%;
    display: block;
}

#block-views-tramites-home-block-tys {
    padding-bottom: 4em;
}
#edit-field-clasificacion-tram-serv-tid .bef-tree li {
    display: inline-block;
}
#edit-field-clasificacion-tram-serv-tid ul {
    padding: 0;
}
.front .region-posicion-c-3 .content{
    position: inherit;
}
.front .posicion-c{
	background: url(../imagenes/fondos/aguas1.jpg);
    background-attachment: fixed;
    background-size: cover;
    padding: 5em 0;	
}
.front .posicion-c h2 {
    color: #000;
    font-family: 'robotobold' !important;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    border: none !important;
}
.front .posicion-c .contenedor {
    background: rgba(255,255,255,0.8) !important;
    border-radius: 0.5em;
    padding: 1em;
}
.front .posicion-c .info {
    text-align: center;
}
.front .posicion-c .info a {
    display: block;
}
.view-entidades-de-control {
    margin-top: 2em;
}
.view-entidades-de-control .jcarousel-skin-default .jcarousel-item {
    width: 18.5%;
    height: auto;
    background: transparent;
    border: none;
}
.view-entidades-de-control .jcarousel-skin-default .jcarousel-container-horizontal{
    width: 100%;
    height: auto;
    padding: 0;
}
.view-entidades-de-control .jcarousel-skin-default .jcarousel-clip-horizontal{
    width: 100%;
}
.view-entidades-de-control .jcarousel-skin-default .jcarousel-item .logo_alterno{
    display: none;
}
.view-entidades-de-control .jcarousel-skin-default .jcarousel-item img {
    width: auto;
    height: auto;
}
.view-entidades-de-control h2 {
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 1em auto;
    border: none;
    font-size: 2em;
    color: #000;
    width: 100%;
    display: block;
}
.view-entidades-de-control .logo_entidad {
    padding: 0;
}
.view-entidades-de-control .logo_alterno{
    padding: 0;
}
ul.jcarousel-view--entidades-de-control--block {
    max-width: 70% !important;
    margin: 0 auto !important;
}
.front .calendar-calendar tr, .front .calendar-calendar td{
	background: rgba(255,255,255,0) !important;
}
.front .view-eventos .calendar-calendar td div.month {
    padding: 6px 0 6px 0;
}
#block-views-enlaces-destacados-block .views-row{
	border-image: none;
}
#block-views-enlaces-destacados-block h2 {
    margin: 10px;
    font-size: 0;
}
.view-enlaces-destacados{
	margin: 0 auto;
}
#block-block-3 ul li {
    display: inline-block;
    width: 16%;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-family: robotobold;
}

#block-block-3 ul li .tab {
    cursor: pointer;
}
#block-block-3 ul li .select {
    font-size: 1.5em;
    color: rgba(0,159,227,1);
}
#block-block-3 ul {
    padding: 1em 1em 2em 1em;
}

div#block-block-3 h2 {
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 1em auto;
    border: none;
    font-size: 2em;
    color: #000;
    width: 100%;
    display: block;
}
#block-block-3 ul li a:hover {
	color:rgba(0,159,227,1);
}
/* - - - Estilos para el footer - - - */
footer {
    background: url(../imagenes/alcaldia.jpg);
    background-size: cover;
    background-position: 100% 70%;
    margin-bottom: 25px;
    background-attachment: fixed;
}
footer .pie-a, footer .pie-c {
    background: rgba(0,159,227,0.9);
}
footer .pie-b {
    background-color: rgba(0,62,101,0.9);
    padding: 3em 0;
}
.not-front footer{
    margin-top: 4%;
}
.required_links{
    padding: 1em 0;
}
#pie .pie-a .region a {
    font-size: 1.2em;
    text-decoration: none;
    font-family: robotolight;
}
#pie h2{
    font-size: 16px;
    text-align: center;
}
#pie .view-informacion-entidad{
	padding: 0 !important;
}
.pie-b-2 .container{
	padding: 0 !important;
}
.pie-b-2 {
    padding: 2.5% 0 0 0;
}

/* - - - tIPO DE CONTENIDO FOTOGRFÍA - - - */
.node-fotografia * {
    max-width: 100%;
    height: auto;
}
.field-name-field-creditos-imagen-albu .field-item:before {
    content: 'Propiedad: ';
    display: inline;
    color: rgba(0,159,227,1);
   }
.field-name-field-creditos-imagen-albu {
    font-size: 0.9em;
    padding: 0.5em 0;
    text-align: right;
}
.field-name-field-url-imagen-album {
    font-size: 0.9em;
    padding: 0.5em 0;
}
.field-name-field-url-imagen-album .field-item:before {
	content: 'Enlace: ';
	display: inline;
    color: rgba(0,159,227,1);
}

.view-fotografias .views-column {
    width: 48%;
    display: inline-block;
    float: left;
    position: relative;
    overflow: hidden;
    border: 2px solid rgba(0,159,227,1);
    margin-bottom: 0.5em; 
}

.view-fotografias .views-column-first {
    margin-right: 0.5em;
    /* margin-bottom: 0.5em; */
}

.view-fotografias .views-column img {
    width: 100%;
    cursor: pointer;
    height: auto;
}

.view-fotografias .views-column .views-field-nothing {
    position: absolute;
    bottom: 0;
    height: 35px;
    transition: 2s all;
    width: 100%;
}

.container-top .body-value {
    color: #fff;
    font-size: 0.9em;
    font-family: 'robotolight';
    line-height: 1em;}

.view-fotografias .views-column:hover .views-field-nothing {
    bottom: 0;
    height: auto;
    transition: all 0.5s;
}

.container-top .video-title {
    padding: 0.5em;
    background-color: rgba(0,62,101,1);
    display: block;
    color: #fff;
}

.container-top .video-info {
    padding: 0.5em;
    background-color: rgba(0,159,227,0.8);
}

.container-top .video-title a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9em;
}

.view-fotografias .views-column:hover .views-field-nothing .video-title {
    background-color: rgba(0,62,101,0.9);
}
.front .content-tab{
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
}
.front .oculto {
    display: none;
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
}

/* - - - Estilos vista destacados del home  - - - */
#block-views-destacados-block {
    margin: 5% 0;
}

div#block-views-destacados-block h2 {
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 1em auto;
    border: none;
    font-size: 2em;
    color: #000;
    width: 100%;
    display: block;
}

div#block-views-destacados-block .view-destacados {
    max-width: 1680px;
    margin: 0 auto 5%;
    position: relative;
    letter-spacing: 0px;
}

div#block-views-destacados-block .view-destacados .views-row {
    width: 100%;
    display: block;
}

div#block-views-destacados-block .view-destacados .views-column {
    width: 30%;
    display: inline-block;
    text-align: center;
    padding: 0 1%;
}

div#block-views-destacados-block .view-destacados .views-column .dest_text {
    float: left;
}

div#block-views-destacados-block .view-destacados .views-column a {
    text-decoration: none;
    cursor: pointer;
}
div#block-views-destacados-block .destacado_home:hover img{
    -webkit-transform: 0px -30px 0.7;
    -moz-transform: 0px -30px 0.7;
    -ms-transform: 0px -30px 0.7;
    -o-transform: 0px -30px 0.7;
    transform: 0px -30px 0.7;
    transform: translate(0px, -30px) scale(0.7);
    -webkit-transform: translate(0px, -30px) scale(0.7);
    -moz-transform: translate(0px, -30px) scale(0.7);
    -o-transform: translate(0px, -30px) scale(0.7);
    -ms-transform: translate(0px, -30px) scale(0.7);
    border-radius: 50%;  
}
div#block-views-destacados-block .destacado_home img {
  width: 25%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: 0px 0px 1;
  -moz-transform: 0px 0px 1;
  -ms-transform: 0px 0px 1;
  -o-transform: 0px 0px 1;
  transform: 0px 0px 1;
  transform: translate(0px, 0px) scale(1);
  -webkit-transform: translate(0px, 0px) scale(1);
  -moz-transform: translate(0px, 0px) scale(1);
  -o-transform: translate(0px, 0px) scale(1);
  -ms-transform: translate(0px, 0px) scale(1);
  -webkit-transition: all 0s ease 0s;
  -moz-transition: all 0s ease 0s;
  -o-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}

/* - - - estilos para tipo de contenido avisos - - - */
.aviso-file .file {
    font-size: 100%;
    padding: 0.5em 1em;
    border: 1px solid #999;
    border: none rgba(0, 0, 0, 0);
    background-color: rgb(0, 120, 231);
    text-decoration: none;
    border-radius: 2px;
    display: block;
    width: 70%;
    margin: 0 auto;
}
.aviso-file a {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    text-transform: lowercase;
    font-family: 'robotomedium';
}
.aviso-file .file:hover {
    background-color: rgb(0,62,101);
    color: #fff;
    text-decoration: none;
}
.res-file a {
    width: 70%;
    display: block;
    white-space: inherit !important;
    margin: 0 auto;
}
#nodo-contenido-aviso .field-name-body {
    margin-bottom: 4%;
}
#block-views-avisos-block-1 .view-display-id-block_1 h2 {
    display: none;
}
#block-views-avisos-block-1 .view-display-id-block_1 a {
    text-decoration: none;
    color: rgba(0,62,101,1) !important;
}
#block-views-avisos-block-1 .view-display-id-block_1 li {
    list-style: none;
    margin: 0.5em 0.5em 0.5em 1.5em !important;
    text-transform: lowercase;
}

/* - Proyectos de Vivienda - */
.view-proyectos-de-vivienda .imagen-proyecto {
    float: left;
    padding-right: 1em;
    display: inline;
}
.view-proyectos-de-vivienda .descripcion-proyecto {
    float: left;
    overflow: hidden;
    display: inline-block;
}
.view-proyectos-de-vivienda .modalidad-precio-proyecto {
    float: right;
    display: inline-block;
    padding: 0.5em 2em 0 0;
}
.view-proyectos-de-vivienda span.label {
    padding-right: 8px;
}
.view-proyectos-de-vivienda a {
    text-decoration: none;
}
.view-proyectos-de-vivienda .titulo-proyecto {
    font-size: 1.2em;
    padding: 0.5em 0 0 0;
    text-transform: uppercase;
}
.view-proyectos-de-vivienda .modalidad-proyecto .label {
    display: block;
    text-align: center;
}
.view-proyectos-de-vivienda .modalidad-proyecto {
    text-align: center;
}
.view-proyectos-de-vivienda .fieldset-wrapper{
    overflow: hidden !important;

}
/* - - - Modificaciones a estilos de govimentum  - - - */

/*Slide Show */
#views_slideshow_cycle_teaser_section_main_slideshow-block .info-breve {
    display: block;
    left: 0;
    right: 0;
    text-align: center;
    width: 80%;
    text-transform: uppercase;
    opacity: 0.8;
    letter-spacing: 4px;
    top: 40%;
    z-index: 2;
}
#block-views-main-slideshow-block .views-slideshow-controls-top {
    display: none;
}
/*#block-views-main-slideshow-block .youtube-container--responsive iframe{
	max-height: 600px !important;
}
#block-views-main-slideshow-block .youtube-container--responsive{
	min-height: 600px !important;
	padding: 0;
}*/
/*Encabezados H2*/
#posicion h2, #posicion .block-system h2{
	border: none !important;
	text-transform: none;
}
.descripcion-jefe p {
    color: #878787;
    font-family: 'robotolight';
    font-size: 14px;
    text-align: left;
}
.descripcion-jefe {
    padding: 1em 1em 0;
}
#jefe-area {
    margin-bottom: 1em;
}
#block-menu-menu-menu-organizacion .content ul li.active a {
    background-color: rgba(0,62,101,1) !important;
}
.node .content {
    padding-bottom: 2em;
}
.btn-atras {
    display: inline-block;
    float: right;
}

.view-faqs .views-field-title a {
    padding: 1em 1em 0.2em 1em;
    display: block;
}
.view-faqs i.ref {
    padding: 0 0 1em;
    display: block;
    font-size: 0.9em;
    border-bottom: 2px dashed rgba(0,159,227,1);
    margin: 0 2em;
}
.page-calendario-ano .posicion-e-3 {
    display: none;
}
/* Enlaces Destacados */

.view-enlaces-destacados .enlace-destacado{
	background-position: center;
}
.view-enlaces-destacados .enlace-primario div {
    opacity: 0;
}


/* - - - - - - - Caracteristica funcional Control - - - - - - - */

.content {
    position: relative;
}

ul.links.inline {
    position: absolute;
    right: 0;
    display: block;
    width: auto;
}
.group-clasificacion {
    border: 1px dashed rgba(0,62,101,0.8);
    padding: 0.2em 1em 2em;
    border-radius: 1em;
}

/* */

@media screen and (max-width: 35.5em) {
    .encabezado-a {
        padding: 0;
    }
    .region-encabezado-b-1 {
        width: auto;
        position: inherit;
    }
    #block-search-form{
        padding: 0;
    }
    .encabezado-c-1 {
        position: fixed;
        top: 0;
    }
    .custom-toggle {
        z-index: 10;
    }
    .region-encabezado-b-1 {
        position: initial;
        margin-top: 1.5em;
        text-align: center;
    }
    #encabezado .encabezado-b-2 h1 {
        margin-top: 0;
        margin-bottom: 0;
    }
    #block-search-form {
        margin: 0 auto;
        padding: 0;
        text-align: center;
    }
    #menu-principal {
        position: initial !important;
    }
    .intro {
        display: none;
    }
    #block-block-1{
        height: 200px;
    }
    .view-tramites-home .views-column {
        width: 100%;
        height: 150px;
    }
    #block-block-3 ul li {
        width: 30%;
    }
    .view-videos-home .slide-izq, .front .view-fotografias .slide-izq {
        width: 90%;
        margin: 0 auto;
        float: none;
    }

    .view-videos-home .slide-der, .front .view-fotografias .slide-der {
        float: none;
        width: 90%;
        margin: 1em auto;
    }
    #block-views-destacados-block .view-destacados .views-column {
        width: 95%;
        margin: 0 auto;
        text-align: center;
    }
    div#block-block-5 {
        width: 70%;
    }
    #block-block-5 h2 {
        font-size: 1em;
    }
    .contenedor {
        width: 90%;
    }
    .view-entidades-de-control .jcarousel-skin-default .jcarousel-item {
        width: 46%;
    }
    .view-ejes span.title {
        font-size: 50%;
    }

    .eje-habitat .description {
        font-size: 40%;
    }


}

@media (min-width: 400px)  and (max-width: 760px){
    iframe#FormularioHabitatResponde {
    max-width: 50% !important;
    width: 50% !important;
    display: block;      
    margin: auto;
}

}

@media screen and (max-width: 64em){
}

@media (min-width: 768px)  and (max-width: 1124px){
	.intro {
    	height: auto;
	}	
	div#block-views-noticias-block-1 {
	    width: 80%;
	    margin: 0 auto;
	}
	.view-noticias .slide-der .title a {
    	font-size: 150%;
	}
	.view-noticias .slide-der .notice-body {
	    color: #000;
	    max-height: 5em;
	    overflow: hidden;
	}
	.view-noticias .view-footer{
		padding: 0;
	}
	.view-videos-home .view-footer, .front .view-fotografias .view-footer {
    	padding: 0;
	}
	#block-govi-sdqs-govi-sdqs-block {
    	padding: 0 5em;
	}
	ul.jcarousel-view--entidades-de-control--block{
		max-width: auto;
	}
	div#menu-segundo-nivel {
    	display: none;
	}
	#posicion {
    	padding: 0 2em;
	}
}

iframe#FormularioHabitatResponde {
    max-width: 100%;
    display: block;      
    margin: auto;
}
