div.form-item-tipo-solicitante  div.form-item-tipo-solicitante{
        float: left;
    width: 25%;
    margin-right: 1em;
}
div.form-item-tipo-solicitante input {
    float: right;
    width: 15px;
    margin-top: 5px;
}
#govi-sdqs-form-container select {
    background: url(/sites/all/themes/govi_tema/assets/imagenes/navegacion_aba_a.png) no-repeat right 14px #fff !important;
}
.form-item input.error, .form-item textarea.error, .form-item input.error {
    border: 2px solid red !important;
}

@media only screen and (max-width: 400px) {
    div.form-item-tipo-solicitante  div.form-item-tipo-solicitante{
    float: left;
    width: 44%;
    margin-right: 1em;
}
div.form-item-tipo-solicitante input {
    float: right;
    margin-top: 10px;
}
}

div.form-item-tipo-solicitante label:after{
    color:#f00;
    content:' *';
}

div.form-item-nombre label:after{
    color:#f00;
    content:' *';
}
div.form-item-apellido label:after{
    color:#f00;
    content:' *';
}
div.form-item-numero-identificacion label:after{
    color:#f00;
    content:' *';
}

div.form-item-departamento label:after{
    color:#f00;
    content:' *';
}
div.form-item-direccion label:after{
    color:#f00;
    content:' *';
}
div.form-item-correo-electronico label:after{
    color:#f00;
    content:' *';
}

div.form-item-telefono-fijo label:after{
    color:#f00;
    content:' *';
}
div.form-item-telefono-movil label:after{
    color:#f00;
    content:' *';
}
div.form-item-respuesta label:after{
    color:#f00;
    content:' *';
}
