#servicio-ciudadano *{
    font-family: 'robotoregular';
}

#servicio-ciudadano ul,
#servicio-ciudadano li {
    width: 100%;
}

#servicio-ciudadano .pure-menu-link {
    background-color: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #999999;
    color: rgb(0,159,227);
    font-family: 'robotoregular';
    font-size: 14px;
    margin-bottom: 15px;
    text-decoration: none;
    transition: 0.2s all;

}

#servicio-ciudadano .pure-menu-link:hover {
    background-color: rgb(0,159,227);
    color: #fff;
    border-radius: 8px;
    transition: 0.2s all;
}

#servicio-ciudadano .scrollable {
    max-height: 350px;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

#sdqs .title h3 {
      color: #676767;
    text-align: center;
    font-size: 0.9em;
    font-weight: bolder;
    letter-spacing: -1px;
    line-height: 1.4em;
    text-transform: uppercase
}

#sdqs .logo {
    background-image: url('../imgs/logo-sdqs.png');
    background-repeat: no-repeat;
    display: block;
    float:left;
    height: 20px;
    margin-right: 5px;
    width: 62px;
}

#sdqs .boton {
    margin-bottom: 20px;
}
#sdqs .boton a {
    color: #0f9edb;
    border-radius: 8px;
    background-clip: padding-box;
    background-repeat: repeat-x;
    background-position: left bottom;
    display: block;
    padding: 10px;
    font-family: 'robotobold';
    font-size: 1.5em;
    letter-spacing: -1px;
    text-decoration: none;
}
#sdqs .boton span{
    font-family: 'robotobold';
}

#sdqs.light .boton.crear a, #sdqs.light .boton.consultar a {
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.2);
    color: rgb(0,159,227);
 
}
#sdqs.light .boton.crear span, #sdqs.light .boton.consultar span{
   color: rgb(0,62,101);
}

#sdqs .boton.crear a {
    background-image: url("../imgs/create.png");
    background-color: #f0f0f0;
    border: solid 1px #fcfcfc;
    color: #19a8e5;
    padding-left: 55px;
    background-repeat: no-repeat;
    background-position: 14px 10px;
}

#sdqs .boton.crear span {
    color: #154a69;
}

#sdqs .boton.consultar a {
    background-image: url("../imgs/edit.png");
    background-color: #ffffff;
    border: solid 1px #e2e2e2;
    background-repeat: no-repeat;
    background-position: 12px 9px;
    padding-left: 52px;
}
#sdqs .boton.consultar span {
    color: #004268;
}
.info a {
    color: rgb(0,159,227);
    text-decoration: none;
}
.info a:hover{
    color: rgb(0,62,101);
    text-decoration: underline;
    font-family: 'robotobold';
}
.form-item-razon-social { 
    display: none;
}

#servicio-ciudadano{
    border: solid 1px #d3d3d3;
    background: #eeeeee;
    padding: 0em 1em;
    border-radius: 11px;
}
#servicio-ciudadano p {
    font-family: 'robotoregular';
    font-size: 0.9em;
}
.formsdqstic{
background: #fdfcfc;
padding: 1em 2em;
border: solid 1px #f3f0f0;
border-radius: 11px;
}

.formsdqsn legend {
   display: block;
   padding: 0.3em 33px;
   margin-bottom: 0px;
   border-bottom: 3px solid #e5e5e5;
   background: #1177a3;
   width: 93.6%;
   border-radius: 7px 6px 0px 0px;
   color: #fff !important;
   font-weight: bold !important;
   padding: 0.5em !important;
}

.formsdqstic .pure-button {
   margin-top: 1em;
}
